= form_for [@current_user, @post] do |f|
  %fieldset
    %legend Post Details
    .row
      = f.label      :title
      = f.text_field :title
    .row
      = f.label      :content
      = f.text_area  :content
    .row
      = f.label      :published
      = f.select     :published, [['Published', 'true'], ['Draft', 'false']]
    .row
      = f.submit     'save'
