%h1 The ramblings of #{@user.nickname.present? ? @user.nickname : @user.id}

%table.posts
  %thead
    %th title
    %th status
    %th published date
    %th created date
  %tbody
    
    - @posts.each do |post|
      %tr.post{class: (post.published? ? 'published' : 'draft')}
        %td= post.title
        %td= post.published? ? 'Published' : 'Draft'
        %td= post.published_date
        %td= post.created_at
        %td= link_to 'edit', edit_user_post_path(@current_user, post)
        %td= link_to 'publish', publish_user_post_path(@current_user, post) unless post.published
        
        