!!! 5
%html
  %head
    %title Communal
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application'
    = csrf_meta_tags
  %body
    %header
      %h1 Communal
      %h2 your link to the community
      %ul
        - if @current_user
          %li #{@current_user.id} online
          %li= link_to 'Logout', logout_path
          %li= link_to 'Dashboard', dashboard_path
          %li= link_to 'Profile', profile_path
        - else
          %li= link_to 'Facebook', '/auth/facebook'
          %li= link_to 'Twitter', '/auth/twitter'
    - flash.each do|(key, value)|
      = content_tag :div, raw(value), class: 'message', id: "#{key}-message"
    = yield
